@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Josefin Sans", sans-serif;
}
body {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  background-color: #121212;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column;
  height: 100vh; /* Make the body fill the entire viewport */
  margin: 0; /* Remove default margin */
  overflow: hidden;
}
  
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    color: white;
    width: 100%;
  }

  
  section#frame {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 90px); /* 3 columns of equal width */
    gap: 10px; /* Add a 10px gap between the boxes */
}



section#frame div {
    width: 90px;
    height: 90px;
    display: flex; /* Use flexbox for centering content */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    border: 1px solid #383838;
    transition: background 0.5s;
}
  section#speler {
    color: white;
    width: 100%;
    margin: 0 auto;
  }
  
  section#speler p {
    display: inline-block;
    width: 49%;
  }
  
  section#speler p:first-child {
    text-align: left;
  }
  
  section#speler p:last-child {
    text-align: right;
  }
  
  .active1 {
    font-weight:bolder;
    color: #F2DF7B;
  }

  .active2 {
    font-weight:bolder;
    color: #F3BB61;
  }

  .restart{
    position: absolute;
    height: auto;
    bottom: 60px;
  }
  a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    background-color: #252525;
    border: 1px solid #383838;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }