@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    color: white;
    width: 100%;
  }

  section{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  section#frame {
    width: auto;
    margin: 30px auto 16px auto;
  }
  
  section#frame div {
    width: 50px;
    height: 50px;
    margin: 3px .5px;
    display: inline-block;
    vertical-align: top;
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    border: 1px solid #383838;
    transition: background .5s;
  }
  
  section#speler {
    color: white;
    width: 380px;
    margin: 0 auto;
  }
  
  section#speler p {
    display: inline-block;
    width: 49%;
  }
  
  section#speler p:first-child {
    text-align: left;
  }
  
  section#speler p:last-child {
    text-align: right;
  }
  
  .active1 {
    font-weight:bolder;
    color: #F2DF7B;
  }

  .active2 {
    font-weight:bolder;
    color: #F3BB61;
  }

  .restart{
    position: absolute;
    height: auto;
    bottom: 60px;
    width: 100%;
  }
  a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    background-color: #252525;
    border: 1px solid #383838;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }